.ContentHeader--root {

}

.ContentHeader--header {
  background-color: #33a;
  color: #fff;
  height: 64px;
  padding-top: 1em;
  width: 100%;
}

.ContentHeader--header-logo {
  display: inline-block;
}

.ContentHeader--viverdi-text {
  letter-spacing: 16px;
  margin-left: 20px;
  text-transform: uppercase;
}

.ContentHeader--profile {
  cursor: pointer;
  display: inline-block;
  float: right;
}

.ContentHeader--username {
  float: right;
}

.ContentHeader--profile-img {
  background-color: #000;
  border-radius: 50%;
  float: right;
  height: 20px;
  margin: 0 10px;
  width: 20px;
}